.page {
background-color: #F5F5F5;
color: #212121;
}

ul {
    list-style: none;
}
/* колір основного тексту 
#212121 */ 

/* колір вторинного тексту #757575 */

/* білий #FFFFFF */

/* білий вторинний rgba(255, 255, 255, 0.6) */

/* акцент #2196F3 */

/* колір фону #F5F5F5 */

/* вторинний колір фону #F5F4FA */

/* фон героя і футера 
#2F303A */

.logo {
   color:
}